ul,ol,li {
    list-style:none
}
em,i {
    font-style:normal
}
.navbar-fixed-page {
    top: 2.2em;
}
.navbar-fixed-page .pc-navbar-header {
    width:100%;
}
.navbar-fixed-page .pc-navbar-header .navbar-nav{
    width: 100%;
}
.navbar-fixed-page .pc-navbar-header .navbar-nav li {
    width:20%;
    text-align:center
}
.navbar-fixed-page .pc-navbar-header .navbar-nav li a{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    -webkit-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    transition: all 0.5s linear;
}
.navbar-fixed-page .pc-navbar-header .navbar-nav a:hover {
    background:#40D2B1;
}
.navbar-fixed-page .pc-navbar-header .navbar-nav a:active {
    background: none;
}
.navbar-fixed-page .pc-navbar-header .navbar-nav a:focus {
    background:#40D2B1;
}
#page1 {
    background: url(../img/index-header-banner.jpg) no-repeat center;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#page1 .main {
    width:100%;
    height: 100%;
    background:rgba(82,70,100,0.33)
}
#page1 .main div {
    margin: 0 auto;
    text-align: center;
}
#page1 .main .logo {
    width:100%;
    height: 100px;
    margin-top: 14em;
}
#page1 .main .logo img {
    height: 90px;
    width: 90px;
    border: 1px solid transparent;
    border-radius: 45px;
}
#page1 .main .name span {
    padding-top: 1em;
    font-size: 4.2em;
    color:#40D2B1;
}
#page1 .main .des span {
    font-size: 5em;
    color: #fff;
    display: inline-block;
    text-shadow: -2px -2px #000;
}
#page1 .main .des .end {
    color: #0099ff;
}
#page1 .main .bottom {
    font-size: 3em;
    color: #fff;
    text-shadow: -1px -1px #000;
    margin:1.2em 0 1em 0;
}
@keyframes bounce-down {
    25% {
        transform: translateY(-8px);
    }
    50%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(8px);
    }
}
#page1 .main .arrow {
    padding-bottom: 10px;
    animation: bounce-down 1s linear infinite;
}
#page1 .main .arrow a {
    color: #fff;
    text-decoration: none;
    font-size: 3em;
}
#zuopin {
    padding: 2em 0;
    text-align: center;
}
#zuopin img {
    margin: 0 auto;
    height: 9em;
    width: 9em;
}
#zuopin .btn {
    margin: 10px 20px;
    background: transparent;
    color: #40D2B1;
    border: 1px solid #40D2B1;
}




.filter {
    width: 100%;
    height: 100%;
    padding: 80px 0px;
    background: rgba(0,0,0,0.7);
}

.padding80 {
    padding:80px;
}

#bss .col-md-4 {
    text-align: center;
}
#bss .col-md-4 img {
    margin: 0 auto;
}
.maizi-icon {
    background-color: #40D2B1;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
}
#html5{
    background: #f8f8f8;
}
#html5 h2 {
    font-weight: bold;
}
#html5 p {
    line-height: 40px;
}
#bootstrap h2{
    text-align: center;
}
#bootstrap .col-md-5 img{
    margin: 0 auto;
}
#course {
    padding: 60px 0;
    text-align: center;
    background-color: #f8f8f8;
}
#course h2{
    font-weight: bold;
    margin-bottom: 60px;
}
#course .col-md-3 {
    margin-bottom: 20px;
}
#course {
    background: #F8F8F8;
    text-align: center;
}
.course {
    background: #fff;
}
#course .col-md-3 .btn {
    background: transparent;
    border: 1px solid #40D2B1;
    border-radius: 0;
    color: #40D2B1;
    margin: 20px 0 30px;
    padding: 8px 40px;
}
#app .btn {
    margin: 10px 20px;
    background: transparent;
    color: #40D2B1;
    border: 1px solid #40D2B1;
}
@media (min-width: 768px) {
    #app .btn-default{
        margin-left: 20px;
    }
}
#contact {
    background: url(../img/contact-bg.png) no-repeat;
    background-size: cover;
    color: #fff;
}
#contact h2 {
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 0;
}
#contact p {
    line-height: 25px;
    margin-bottom: 20px;
}
#contact .glyphicon {
    margin-right: 10px;
}
#contact .form-control {
    margin-bottom: 20px;
    border: none;
    border-radius: 0;
    height: 50px;
}
#contact textarea.form-control {
    height: auto;
}
#contact input[type="submit"]{
    background: #40D2B1;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s;
}
#contact input[type="submit"]:hover{
    background: rgb(44, 142, 120);
}
